#header {
		background-color: brown;
		color: white;
		text-align: center;
		margin: auto;
}
#cim {
	background-color: gray;
	color: white;
}
#focim {
	background-color: gray;
	color: white;
	text-align: center;
}
#video {
	
	width: 800px;
}